.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input {
  display: flex;
  padding: 5px;
  margin: 2px;
}

.button {
  display: inline-flex;
  padding: 5px;
  margin: 2px;
}

.button.reset {
  background-color: #FF6247;
  color: white;
  border: solid grey 1px;
  border-radius: 2px;
}

button.reset:hover {
  background-color: #EB2300;
}

.button.reset:active {
  background-color: #FFA28F;
}